<% include ./partials/header %>
    <h1 class="edit_logo">Edit Logo</h1>
    <form action="/<%= logoEdit._id %>/editlogo?_method=PUT" method="POST" class="form_logo">
        <input type="text" name="logoName" value="<%= logoEdit.name %>">
        <button type="submit"> Submit </button>
    </form>

<% include ./partials/footer %>