<% include ./partials/header %>

<div class="container">
<h1 class="section-content__heading--primary" >Forgot Password</h1>
<div class="section-content__end-line"></div>
    <div class="container__form" >
    <form action="/forgot" method="POST" >
    <input type="email" name="email" placeholder="Email" >
    <button type="Submit">Submit <i class="fas fa-arrow-right"></i></button>
    </form>
    </div>
</div>

<% include ./partials/footer %>
