.container__form {
    margin: 0 auto;
    width: 50%; 
}
form {
    margin-top: $medium;
    text-align: center;

    input[name="username"],
    input[type="password"],
    input[name="logoName"],
    input[name="email"] {
    display: block;
    width: 80%;
    height: 1.5rem;
    padding: 1.5rem;
    margin: 0 auto $small auto;
}
        [type="submit"] {
        padding: .7rem 2.7rem;
        border: .15rem solid $color-primary;
        background: none;
        cursor: pointer;
        font-weight: $weight-medium;
        font-size: $small;
        text-align: center;
        margin-right: 1rem;

        &:hover > i[class ^= "fa"] {
            transform: translateX(40%);
            transition: all .3s ease;
        }
    }

    a {
        text-decoration: none;
        color: #000;
        font-size: $x-small;
        padding-bottom: .3rem;
        &:hover {
            border-bottom: 1px solid $color-primary;
        }
    }

}

.container > .section-content__end-line {
    margin-top: $small;
}

