*, 
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.edit {
    position: absolute;
    border-radius: 50%;
    padding: .3rem;

    a:link, 
    a:visited {
        text-decoration: none;
        color: $color-secondary;
    }

    &--logo {
        top: 2.2rem;
        left: 23%;
    }
    
    &--hero-content {
    top: 35%;
    left: 69%;
    transform: translate(-50%, -50%);
    }
}

.container {
    margin: 0 auto;
    padding: 2rem;
    width: 75%;
    text-align: center;
    position: relative;

    @include clear-fix;
}
